
body {
    background-color: #C3BABA;
    height: 100vh;
    font-family: 'Darumadrop One', cursive;
    color: #545863;
}

h1.head {
    font-size: 90px;
    color: #545863;
    text-align: center;
    margin-bottom: 25px;
}

.container {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.container .selections {  
    height: 200px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    
}

.selection {
    
    border: 3px solid #B66D0D;
    border-radius: 1ch; 
    height: 125px;
    width: 200px;
    text-align: center;
    margin: 25px;
}

.container .resultsTable {
    height: 300px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
 
}


.computerChoice {
    border: 3px solid #B66D0D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1ch; 
    height: 125px;
    width: 200px;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.result {
    height: 50px;
    width: 100px;
    margin: 50px;

}

.btn {
    display:block;
    margin: auto;
}

.resultDisplay {
    font-size: 20px;
    height: 50px;
    width: 300px;

}

.score {
    margin: 50px;
    font-size: 20px;
    width: 200px;
}

img {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.choiceContainer {
    margin-bottom: -25px;
}